* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: #9767A9;
}
a:hover{
    color: #7a3194;
}
header{
    width: 100%;
    height: 80px;
    display: flex;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: fixed;
}
.box-logo{
    height: 100%;
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 50px;
}
.logo{
    width: 100px;
    height: 50px;
}
ul{
    width: 100%;
    height: 100%;
    list-style: none;
    display: flex;
    align-items: center;
}
.menu{
    padding-left: 50px;
    font-size: 15px;
    
}
.busca{
    border:solid 2px;
    border-color: #9767A9;
    border-radius:15px;
    width:200px;
    height: 35px;
    display: flex;
    align-items: center;
    margin-left: 50px;
}
.txt-busca{
    background-color:transparent;
    border: none;
    outline: 0;
    padding-left: 5px;
}
::placeholder{
    color: #9767A9;
}
.img-busca{
    padding-left: 5px;
}
.icom-platform{
    padding-right: 75px;
}
.icom{
    height: 30px;
    width: 50px;
    padding-left: 10px;
}
.steps-to-fall-in-love{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.slogan {
    width: 100%;
    height: 600px;
    background-image: url(img/cabeludo.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 80px;
}
.box-staff-one{
    width: 360px;
    height: 230px;
    margin-top: 210px;
    margin-right: -85px;
}
.txt-staff-one{
    font-size: 75px;
    color: white;
}
.box-staff-two{
    width: 320px;
    height: 85px;
    margin-top: 180px;
    margin-right: 50px;
}
.txt-staff-two{
    font-size: 35px;
    color: white;
    opacity: 0.7;
}
.presentation{
    width: 100%;
    height: 250px;
    background-color: rgba(137, 43, 226, 0.671);
    display: flex;
    justify-content: space-evenly;
}
.box-presentation-title{
    width: 60%;
}
.presentation-title-txt{
    font-size: 45px;
    padding-left: 150px;
    padding-top: 10px;
}
.box-presentation-info{
   height: 100%;
    width: 45%;
    display: flex;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
}
.presentation-info-txt{
    font-size: 20px;
    width: 75%;
}
h4{
    color: white;
    font-size: 22px;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 50px;
}
.contents{
    padding: 15px;
    font-size: 13px;
    color: white;
}
.txt-box{
    width: 70%;
    height: 300px;
    background-color:#9767A9;
}
.img-box-one{
    background-image: url(img/cabelo\ no\ espelho.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 415px;
    height: 550px;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.img-box-two{
    background-image: url(img/NoPath\ -\ Copia\ \(18\).png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 415px;
    height: 550px;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.img-box-three{
    background-image: url(img/NoPath\ -\ Copia\ \(19\).png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 415px;
    height: 550px;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.img-box-four{
    background-image: url(img/NoPath\ -\ Copia\ \(49\).png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 415px;
    height: 550px;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.img-box-five{
    background-image: url(img/NoPath\ -\ Copia\ \(55\).png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 415px;
    height: 550px;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.img-box-six{
    background-image: url(img/NoPath\ -\ Copia\ \(56\).png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 415px;
    height: 550px;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.img-box-seven{
    background-image: url(img/NoPath\ -\ Copia\ \(57\).png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 415px;
    height: 550px;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}