* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: #9767A9;
}
a:hover{
    color: #7a3194;
}
header{
    width: 100%;
    height: 80px;
    display: flex;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.box-logo{
    height: 100%;
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 50px;
}
.logo{
    width: 100px;
    height: 50px;
}
ul{
    width: 100%;
    height: 100%;
    list-style: none;
    display: flex;
    align-items: center;
}
.menu{
    padding-left: 50px;
    font-size: 15px;
    
}
.busca{
    border:solid 2px;
    border-color: #9767A9;
    border-radius:15px;
    width:200px;
    height: 35px;
    display: flex;
    align-items: center;
    margin-left: 50px;
}
.txt-busca{
    background-color:transparent;
    border: none;
    outline: 0;
    padding-left: 5px;
}
::placeholder{
    color: #9767A9;
}
.img-busca{
    padding-left: 5px;
}
.icom-platform{
    padding-right: 75px;
}
.icom{
    height: 30px;
    width: 50px;
    padding-left: 10px;
}
.slogan {
    width: 100%;
    height: 600px;
    background-image: url(img/cabeludo.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.box-staff-one{
    width: 360px;
    height: 230px;
    margin-top: 210px;
    margin-right: -85px;
}
.txt-staff-one{
    font-size: 75px;
    color: white;
}
.box-staff-two{
    width: 320px;
    height: 85px;
    margin-top: 180px;
    margin-right: 50px;
}
.txt-staff-two{
    font-size: 35px;
    color: white;
    opacity: 0.7;
}
.presentation{
    width: 100%;
    height: 250px;
    background-color: rgba(137, 43, 226, 0.671);
    display: flex;
    justify-content: space-evenly;
}
.box-presentation-title{
    width: 60%;
}
.presentation-title-txt{
    font-size: 50px;
    padding-left: 200px;
    padding-top: 10px;
}
.box-presentation-info{
   height: 100%;
    width: 45%;
    display: flex;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
}
.presentation-info-txt{
    font-size: 20px;
    width: 75%;
}